<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="assets/css/master.css" media="screen" charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      {{name}}
    </div>
  </body>
</html>
